
@font-face {
  font-family: 'Minion Pro';
  src: url('./assets/fonts/MinionPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Minion Pro';
  src: url('./assets/fonts/MinionPro-Semibold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Minion Pro';
  src: url('./assets/fonts/MinionPro-It.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Univers';
  src: url('./assets/fonts/UniversNextPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'title';
  src: url('./assets/fonts/title.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

// Fonts:

$font-serif: 'Minion Pro', serif;
$font-sans-serif: 'Univers', 'Helvetica', sans-serif;
$font-title-treatment: 'title', $font-sans-serif;

// Global Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: $font-serif;
  font-size: 30px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  background-color: #3E4041;
  color: $color-grey;
}

::-webkit-scrollbar {
  display: none;
}

// Fonts stuff

.title-font { font-family: $font-title-treatment; }
.sans-serif { font-family: $font-sans-serif; }
.serif      { font-family: $font-serif; }
.bold       { font-weight: bold; }
.italic     { font-style: italic; }

.color-orange { color: $color-orange; }
.color-grey   { color: $color-grey; }
.color-purple { color: $color-purple; }
.color-white  { color: $color-white; }

.small-caps { font-variant: small-caps; }

// Display stuff

.flex {
  display: flex;
}
