* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: $font-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3E4041;
  color: $color-grey;
}

// Fonts stuff

.sans-serif { font-family: $font-sans-serif; }
.serif      { font-family: $font-serif; }
.bold       { font-style: bold; }
.italic     { font-style: italic; }
