* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: $font-serif;
  font-size: 30px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  background-color: #3E4041;
  color: $color-grey;
}

// Fonts stuff

.sans-serif { font-family: $font-sans-serif; }
.serif      { font-family: $font-serif; }
.bold       { font-weight: bold; }
.italic     { font-style: italic; }

.color-orange { color: $color-orange; }
.color-grey   { color: $color-grey; }
.color-purple { color: $color-purple; }

.small-caps { font-variant: small-caps; }

// Display stuff

.flex {
  display: flex;
}
