
@font-face {
  font-family: 'Minion Pro';
  src: '/fonts/MinionPro-Regular.otf' format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Minion Pro';
  src: '/fonts/MinionPro-Semibold.otf' format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Minion Pro';
  src: '/fonts/MinionPro-It.otf' format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Univers';
  src: '/fonts/UniversNextPro-Regular.otf' format('opentype');
  font-weight: normal;
  font-style: normal;
}

// Fonts:

$font-serif: 'Minion Pro', serif;
$font-sans-serif: 'Univers', 'Helvetica', sans-serif;

// Colors:

$color-white: #f9f9f9;
$color-black: #3E4041;
$color-orange: #C86D38;
$color-grey: #989DA0;
$color-purple: #4E3E4C;
